<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>demograder</title>
        <link rel="preload" as="style" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" onload="this.onload=null;this.rel='stylesheet'">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div id="header">
            <div id="wordmark"><a href="/">demograder</a></div>
            {% if user %}
            <div id="quicklinks">
                {% if role >= Role.ADMIN %}
                <a href="{{ url_for('demograder.admin') }}">admin</a> |
                {% endif %}
                {% if role >= Role.FACULTY %}
                <a href="{{ url_for('demograder.course_form') }}">new course</a> |
                {% endif %}
                {% if alternate_view %}
                <a href="{{ request.path }}">viewing as</a> {{ role.name.lower() }}
                {% endif %}
                <a href="{{ url_for('demograder.user_form', user_id=viewer.id) }}">{{ viewer.email }}</a>
                | <a href="{{ url_for('auth.logout') }}">logout</a>
            </div>
            {% endif %}
            <div id="breadcrumb">
                {% block breadcrumb %}{% endblock %}
            </div>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            &copy; Justin Li
        </div>
    </body>

</html>
