<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>demograder</title>
        <link rel="preload" as="style" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" onload="this.onload=null;this.rel='stylesheet'">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div id="header">
            <div id="wordmark"><a href="/">demograder</a></div>
            {% if user %}
            <div id="quicklinks">
                {% if viewer.admin %}
                {% if override %}overriding permissions as{% endif %}
                <a href="{{ url_for('demograder.admin') }}">admin</a>
                {% if alternate_view %} and viewing as {{ viewer.email }}{% endif %} |
                {% endif %}
                <a href="{{ url_for('demograder.user_view', page_user_email=viewer.email) }}">profile</a> |
                <a href="{{ url_for('auth.logout') }}">logout</a>
            </div>
            {% endif %}
            <div id="breadcrumb">
                {% block breadcrumb %}{% endblock %}
            </div>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            &copy; Justin Li
        </div>
    </body>

</html>
