{% from 'macros.html' import submission_history_table %}
{% extends "base.html" %}

{% block title %}Demograder{% endblock %}

{% block content %}
    <h2>
        Courses
        {% if role >= Role.FACULTY %}
        <span class="admin-link">
            <a href="{{ url_for('demograder.course_form') }}">new course</a>
        </span>
        {% endif %}
    </h2>
    {% for course in viewer.courses() %}
    <ul>
        <li><a href="{{ url_for('demograder.course_view', course_id=course.id) }}">
            {{ course.course_number }} {{ course.title }} ({{ course.semester }})
        </a></li>
    </ul>
    {% endfor %}
    {% if viewer.submissions_from_students(limit=1).first() %}
    <h2>Recent Submissions in Your Courses</h2>
    {{ submission_history_table(viewer.submissions_from_students(limit=10), files=False) }}
    {% endif %}
    {% if viewer.submissions().first() %}
    <h2>Your Recent Submissions</h2>
    {{ submission_history_table(viewer.submissions(limit=10), submitter=False, files=False) }}
    {% endif %}
{% endblock %}
