{% macro full_name(user) %}
    {% if user.has_full_name %}
    {{user.full_name}}
    {% else %}
    (name unknown)
    {% endif %}
{% endmacro %}

{% macro submission_history_table(submissions, course=True, question=True, submitter=True, files=True, disable=False) %}
    <table class="data-table">
        <tr>
            <th>Time</th>
            {% if course %}<th>Course</th>{% endif %}
            {% if question %}<th>Question</th>{% endif %}
            {% if submitter %}<th>Submitter</th>{% endif %}
            {% if files %}<th>Files</th>{% endif %}
            <th>Tests Passed</th>
            <!--
            {% if not question.locked %}
            <th>Disable</th>
            {% endif %}
            -->
        </tr>
        {% for submission in submissions %}
        <tr {% if submission.disabled %}class="disabled-submission"{% endif %}>
            <td>{{ submission.iso_format }}</td>
            {% if course %}
            <td><a href="{{ url_for('demograder.course_view', course_id=submission.question.assignment.course.id) }}">
                {{ submission.question.assignment.course }}
            </a></td>
            {% endif %}
            {% if question %}
            <td>
                <a href="{{ url_for('demograder.submission_view', question_id=submission.question.id) }}">
                    {{ submission.question.assignment.name }}: {{ submission.question.name }}
                </a>
                {% if not submission.question.visible %}(hidden){% endif %}
            </td>
            {% endif %}
            {% if submitter %}
            <td><a href="{{ url_for('demograder.user_view', page_user_email=submission.user.email) }}">
                {{ full_name(submission.user) }}
            </a></td>
            {% endif %}
            {% if files %}
            <td>
                {% for submission_file in submission.files %}
                    <a href="{{ url_for('demograder.submission_file_view', submission_file_id=submission_file.id) }}"><code>{{ submission_file.question_file.filename }}</code></a> (<code>{{ submission_file.filename }}</code>)
                {{ ", " if not loop.last else "" }}
                {% endfor %}
            </td>
            {% endif %}
            <td>
                <a href="{{ url_for('demograder.submission_view', submission_id=submission.id) }}">
                    {{ submission.num_passed }} / {{ submission.num_results }}
                </a>
            </td>
            {% if disable %}
            <td><a href="{{ url_for('demograder.disable_submission', submission_id=submission.id) }}">
                {% if submission.disabled %}
                enable
                {% else %}
                disable
                {% endif %}
            </a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro course_admin_links(course, new=False) %}
    <span class="admin-link">
        <a href="{{ url_for('demograder.course_form', course_id=course.id) }}">edit</a>
        <a href="{{ url_for('demograder.course_enrollment_view', course_id=course.id) }}">enrollments</a>
        <a href="{{ url_for('demograder.course_submissions_view', course_id=course.id) }}">submissions</a>
        {% if new %}
        <a href="{{ url_for('demograder.assignment_form', course_id=course.id) }}">new assignment</a>
        {% endif %}
    </span>
{% endmacro %}

{% macro assignment_admin_links(assignment, new=False) %}
    <span class="admin-link">
        <a href="{{ url_for('demograder.assignment_form', course_id=assignment.course.id, assignment_id=assignment.id) }}">edit</a>
        <a href="{{ url_for('demograder.assignment_grades_view', assignment_id=assignment.id) }}">grades</a>
        <a href="{{ url_for('demograder.assignment_submissions_view', assignment_id=assignment.id) }}">submissions</a>
        {% if new %}
        <a href="{{ url_for('demograder.question_form', assignment_id=assignment.id) }}">new question</a>
        {% endif %}
    </span>
{% endmacro %}

{% macro submission_admin_links(question, submission=None, regrade=False) %}
    <span class="admin-link">
        <a href="{{ url_for('demograder.question_form', assignment_id=question.assignment.id, question_id=question.id) }}">edit</a>
        <a href="{{ url_for('demograder.question_grades_view', question_id=question.id) }}">grades</a>
        <a href="{{ url_for('demograder.question_submissions_view', question_id=question.id) }}">submissions</a>
        {% if regrade and submission %}
        <a href="{{ url_for('demograder.reevaluate_submission', submission_id=submission.id) }}">re-run submission</a>
        {% endif %}
    </span>
{% endmacro %}

{% macro result_admin_links(result) %}
    <span class="admin-link">
        <a href="{{ url_for('demograder.reevaluate_result', result_id=result.id) }}">re-run result</a>
    </span>
{% endmacro %}
