{% from 'utils.html' import submission_history_table %}
{% extends "base.html" %}

{% block title %}Demograder{% endblock %}

{% block content %}
    <h1>{{ page_user.full_name }}</h1>
    <a href="mailto:{{ page_user.email }}">{{ page_user.email }}</a>

    {% for course in courses %}
    <h2>
        <a href="{{ url_for('demograder.course_view', course_id=course.id) }}">
            {{ course.course_number }}: {{ course.title }}
        </a>
        ({{ course.semester }})
        {% if viewer.admin or viewer.is_teaching(course.id) %}
        <span class="edit-link">
            <a href="{{ url_for('demograder.course_form', course_id=course.id) }}">edit</a>
            <a href="{{ url_for('demograder.assignment_form', course_id=course.id) }}">new assignment</a>
        </span>
        {% endif %}
    </h2>
    {% if not page_user.course_submissions(course.id, limit=1).first() %}
    <p>{{ page_user.full_name }} have not yet submitted to this course.</p>
    {% else %}
    <p>Recent Submissions</p>
    {{ submission_history_table(page_user.course_submissions(course.id, limit=10), submitter=False, files=False) }}
    {% endif %}
    {% endfor %}
{% endblock %}
