{% from 'macros.html' import submission_history_table %}
{% extends "base.html" %}

{% block title %}Demograder{% endblock %}

{% block content %}
    <h1>
        {{ page_user.full_name }}
        <span class="admin-link">
            <a href="{{ url_for('demograder.user_form', user_id=page_user.id) }}">edit</a>
        </span>
    </h1>
    <a href="mailto:{{ page_user.email }}">{{ page_user.email }}</a>

    {% for course in courses %}
    <h2>
        <a href="{{ url_for('demograder.course_view', course_id=course.id) }}">
            {{ course.course_number }}: {{ course.title }}
        </a>
        ({{ course.semester }})
    </h2>
    {% if not course.submissions(user_id=page_user.id, limit=1).first() %}
    <p>{{ page_user.full_name }} have not yet submitted to this course.</p>
    {% else %}
    <p>Recent Submissions</p>
    {{ submission_history_table(course.submissions(user_id=page_user.id, limit=10), submitter=False, files=False) }}
    {% endif %}
    {% endfor %}
{% endblock %}
