{% from 'macros.html' import full_name, submission_history_table %}
{% extends "base.html" %}

{% block title %}Demograder{% endblock %}

{% block content %}
    <h1>
        {{ full_name(page_user) }}
        <span class="admin-link">
            <a href="{{ url_for('demograder.user_form', user_id=page_user.id) }}">edit</a>
        </span>
    </h1>
    <a href="mailto:{{ page_user.email }}">{{ page_user.email }}</a>

    {% if page_user.submissions(limit=1).first() %}
    <h2>Your Recent Submissions</h2>
    {{ submission_history_table(page_user.submissions(limit=10), submitter=False, files=False) }}
    {% endif %}

    {% for course in page_user.courses() %}
    <hr>
    <h2>
        <a href="{{ url_for('demograder.course_view', course_id=course.id) }}">
            {{ course.course_number }}: {{ course.title }}
        </a>
        ({{ course.semester }})
    </h2>
    {% if page_user.submissions_from_students(limit=1).first() %}
    <p>Recent Submissions from Students in this Course</p>
    {{ submission_history_table(page_user.submissions_from_students(limit=10), course=False, files=False) }}
    {% endif %}
    {% if not course.submissions(user_id=page_user.id, limit=1).first() %}
    <p>You have not yet submitted to this course.</p>
    {% else %}
    <p>Your Recent Submissions in this Course</p>
    {{ submission_history_table(course.submissions(user_id=page_user.id, limit=10), course=False, submitter=False, files=False) }}
    {% endif %}
    {% endfor %}
{% endblock %}
