{% extends "base.html" %}
{% from "forms/_utils.html" import render_field %}

{% block title %}Demograder{% endblock %}

{% block content %}
    <h1>New/Edit Assignment</h1>
    <form method="POST" action="{{ url_for('demograder.assignment_form', course_id=form.course_id.data, assignment_id=form.id.data) }}">
        <table class="form-table">
            {{ render_field(form.course) }}
            {{ render_field(form.name) }}
        </table>
        {{ form.hidden_tag() }}
        <p>{{ form.submit }}</p>
    </form>
{% endblock %}
