{% extends "base.html" %}
{% from "forms/_utils.html" import render_field %}

{% block title %}Demograder{% endblock %}

{% block breadcrumb %}&nbsp;{% endblock %}

{% block content %}
    <h1>New/Edit Question</h1>
    <form method="POST" action="{{ url_for('demograder.question_form', assignment_id=form.assignment_id.data, question_id=form.id.data) }}">
        <table class="form-table">
            {{ render_field(form.course) }}
            {{ render_field(form.assignment) }}
            {{ render_field(form.name) }}
            {{ render_field(form.due_date) }}
            <tr{% if form.due_hour.errors or form.due_minute.errors %} class="form-field-error"{% endif %}>
                <!-- FIXME disable due time if date is unset -->
                <th><label>Due Time:</label></th>
                <td>
                    {{ form.due_hour }}:{{ form.due_minute }}
                    {% if form.due_hour.errors or form.due_minute.errors %}
                    <ul class="form-field-error-list">
                        {% for error in form.due_hour.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        {% for error in form.due_minute.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </td>
            </tr>
            {{ render_field(form.cooldown) }}
            {{ render_field(form.timeout) }}
            {{ render_field(form.visible) }}
            {{ render_field(form.locked) }}
            {{ render_field(form.hide_output) }}
            <tr{% if form.dependencies.errors %} class="form-field-error"{% endif %}>
                <th><label>Dependencies:</label></th>
                <td>
                    <ul>
                    {% for dependency_form in form.dependencies %}
                        <li>
                            {{ dependency_form.is_dependency }}{{ dependency_form.question.data }}
                            (use {{ dependency_form.submissions_used }} submissions from {{ dependency_form.submitters_used }}; source files viewable {{ dependency_form.viewable }})
                            {{ dependency_form.question_id }}
                        </li>
                    {% endfor %}
                    </ul>
                    <!-- FIXME untested -->
                    {% if form.dependencies.errors %}
                    <ul class="form-field-error-list">
                        {% for error in form.dependencies.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </td>
            </tr>
            {{ render_field(form.file_names) }}
            {{ render_field(form.script) }}
        </table>
        {{ form.hidden_tag() }}
        <p>{{ form.submit }}</p>
    </form>
{% endblock %}
