{% extends "base.html" %}
{% from "forms/macros.html" import render_field %}

{% block title %}Demograder{% endblock %}

{% block content %}
    <h1>New/Edit User</h1>
    <form method="POST" action="{{ url_for('demograder.user_form', user_id=form.id.data) }}">
        <table class="form-table">
            {{ render_field(form.preferred_name) }}
            {{ render_field(form.family_name) }}
            {{ render_field(form.email) }}
            {% if site_role >= SiteRole.ADMIN %}
            {{ render_field(form.admin) }}
            {{ render_field(form.faculty) }}
            {% endif %}
        </table>
        {{ form.hidden_tag() }}
        <p>{{ form.submit }}</p>
    </form>
{% endblock %}
