{% from 'utils.html' import assignment_admin_links %}
{% from 'instructor/macros.html' import submission_date_limit_form %}
{% extends "base.html" %}

{% block title %}Demograder{% endblock %}

{% block breadcrumb %}
    &gt; <a href="{{ url_for('demograder.course_view', course_id=course.id) }}">{{ course.course_number }}</a>
    &gt; {{ assignment.name }}
    &gt; Grades
{% endblock %}

{% block content %}
    <h1>
        {{ assignment.name }} Grades
        {{ assignment_admin_links(assignment) }}
    </h1>
    {{ submission_date_limit_form() }}
    <table class="data-table">
        <tr>
            <th>Student</th>
            <th>Email</th>
            {% for question in assignment.questions() %}
            <th>{{ question.name }}</th>
            {% endfor %}
        </tr>
        {% for user in course.students %}
        <tr>
            <td><a href="{{ url_for('demograder.user_view', page_user_email=user.email) }}">{{ user.full_name }}</a></td>
            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
            {% for question in assignment.questions() %}
            {% set submission = assignment.submissions(user_id=user.id, before=before, limit=1).first() %}
            {% if submission %}
            <td><a href="{{ url_for('demograder.submission_view', submission_id=submission.id) }}">{{ 100 * submission.num_passed / submission.num_results }}%</a></td>
            {% else %}
            <td>0%</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}
