{% from 'macros.html' import full_name, course_admin_links %}
{% extends "base.html" %}

{% block title %}Demograder{% endblock %}

{% block breadcrumb %}
    &gt; <a href="{{ url_for('demograder.course_view', course_id=course.id) }}">{{ course.course_number }}</a>
    &gt; Enrollments
{% endblock %}

{% block content %}
    <h1>
        {{ course.course_number }} {{ course.title }} ({{ course.semester }}) Enrollments
        {{ course_admin_links(course) }}
    </h1>
    {% if not course.students %}
    <p>There are no students for this course yet.</p>
    {% else %}
    <table class="data-table">
        <tr>
            <th>Student</th>
            <th>Email</th>
        </tr>
        {% for user in course.students %}
        <tr>
            <td><a href="{{ url_for('demograder.user_view', page_user_email=user.email) }}">{{ full_name(user) }}</a></td>
            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
        </tr>
        {% endfor %}
    {% endif %}
    </table>
{% endblock %}
