{% from 'utils.html' import submission_history_table %}
{% extends "base.html" %}

{% block title %}Demograder{% endblock %}

{% block breadcrumb %}
    &gt; <a href="{{ url_for('demograder.course_view', course_id=course.id) }}">{{ course.course_number }}</a>
    &gt; {{ assignment.name }}
    &gt; <a href="{{ url_for('demograder.question_view', question_id=question.id) }}">{{ question.name }}</a>
    &gt; Submissions
{% endblock %}

{% block content %}
    <h1>
        {{ question.name }} Submissions
        {% if role >= Role.INSTRUCTOR %}
        <span class="edit-link">(
            <a href="{{ url_for('demograder.question_form', assignment_id=assignment.id, question_id=question.id) }}">edit</a>
        )</span>
        {% endif %}
    </h1>
    {% if not question.submissions %}
    <p>There are no submissions for this question yet.</p>
    {% else %}
    {{ submission_history_table(question.submissions(), course=False, question=False) }}
    {% endif %}
{% endblock %}
