{% from 'utils.html' import submission_history_table, submission_admin_links %}
{% extends "base.html" %}

{% block title %}Demograder{% endblock %}

{% block breadcrumb %}
    &gt; <a href="{{ url_for('demograder.course_view', course_id=course.id) }}">{{ course.course_number }}</a>
    &gt; {{ assignment.name }}
    &gt; <a href="{{ url_for('demograder.submission_view', question_id=question.id) }}">{{ question.name }}</a>
    &gt; Submissions
{% endblock %}

{% block content %}
    <h1>
        {{ question.name }} Submissions
        {{ submission_admin_links(question) }}
    </h1>
    {% set submissions = question.submissions() %}
    {% if not submissions %}
    <p>There are no submissions for this question yet.</p>
    {% else %}
    {{ submission_history_table(submissions, course=False, question=False) }}
    {% endif %}
{% endblock %}
