{% extends "base.html" %}

{% block title %}Demograder{% endblock %}

{% block breadcrumb %}
    &gt; <a href="{{ url_for('demograder.course_view', course_id=course.id) }}">{{ course.course_number }}</a>
{% endblock %}

{% block content %}
    <h1>
        {{ course.course_number }} {{ course.title }} ({{ course.semester }})
        {% if role >= Role.INSTRUCTOR %}
        <span class="edit-link">(
            <a href="{{ url_for('demograder.course_form', course_id=course.id) }}">edit</a>,
            <a href="{{ url_for('demograder.course_enrollment_view', course_id=course.id) }}">enrollment</a>,
            <a href="{{ url_for('demograder.course_submissions_view', course_id=course.id) }}">submissions</a>,
            <a href="{{ url_for('demograder.assignment_form', course_id=course.id) }}">new assignment</a>
        )</span>
        {% endif %}
    </h1>
    {% for assignment in course.visible_assignments(role >= Role.INSTRUCTOR) %}
    <h3>
        {{ assignment.name }}
        {% if role >= Role.INSTRUCTOR %}
        <span class="edit-link">(
            <a href="{{ url_for('demograder.assignment_form', course_id=course.id, assignment_id=assignment.id) }}">edit</a>,
            <a href="{{ url_for('demograder.question_form', assignment_id=assignment.id) }}">new question</a>
        )</span>
        {% endif %}
    </h3>
    <ul>
        {% for question in assignment.visible_questions(role >= Role.INSTRUCTOR)|sort(attribute='name') %}
        <li>
            {% if role >= Role.INSTRUCTOR and not question.visible %}
            (hidden)
            {% endif %}
            <a href="{{ url_for('demograder.submission_view', question_id=question.id) }}">{{ question.name }}</a>
            {% if question.due_date %}
            (due {{ question.iso_format }})
            {% endif %}
            {% if role >= Role.INSTRUCTOR %}
            <span class="edit-link">(
                <a href="{{ url_for('demograder.question_form', assignment_id=assignment.id, question_id=question.id) }}">edit</a>
            )</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
{% endblock %}
