{% from 'utils.html' import course_admin_links, course_admin_links, assignment_admin_links, submission_admin_links %}
{% extends "base.html" %}

{% block title %}Demograder{% endblock %}

{% block breadcrumb %}
    &gt; <a href="{{ url_for('demograder.course_view', course_id=course.id) }}">{{ course.course_number }}</a>
{% endblock %}

{% block content %}
    <h1>
        {{ course.course_number }} {{ course.title }} ({{ course.semester }})
        {% if role >= Role.INSTRUCTOR %}
        {{ course_admin_links(course, new=True) }}
        {% endif %}
    </h1>
    {% for assignment in course.visible_assignments(role >= Role.INSTRUCTOR) %}
    <h3>
        {{ assignment.name }}
        {% if role >= Role.INSTRUCTOR %}
        {{ assignment_admin_links(assignment, new=True) }}
        {% endif %}
    </h3>
    <table class="assignment-summary-table">
        {% for question in assignment.visible_questions(role >= Role.INSTRUCTOR)|sort(attribute='name') %}
        <tr>
            <td>
                {% if role >= Role.INSTRUCTOR and not question.visible %}
                (hidden)
                {% endif %}
                <a href="{{ url_for('demograder.submission_view', question_id=question.id) }}">{{ question.name }}</a>
                {% if question.due_date %}
                (due {{ question.iso_format }})
                {% endif %}
                {% if role >= Role.INSTRUCTOR %}
                {{ submission_admin_links(question) }}
                {% endif %}
            </td>
            <td class="summary-cell">
                {% set submission = question.submissions(user_id=user.id, limit=1).first() %}
                {% if submission and submission.num_results%}
                <div class="summary-bar">
                    <div class="summary pass" style="width:{{ 100 * submission.num_passed / submission.num_results }}%;">&nbsp;</div>
                    <div class="summary fail" style="width:{{ 100 * submission.num_failed / submission.num_results }}%;">&nbsp;</div>
                    <div class="summary score">{{ submission.num_passed }} / {{ submission.num_results }}</div>
                </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
{% endblock %}
