{% from 'macros.html' import course_admin_links, course_admin_links, assignment_admin_links, submission_admin_links %}
{% extends "base.html" %}

{% block title %}Demograder{% endblock %}

{% block breadcrumb %}
    &gt; <a href="{{ url_for('demograder.course_view', course_id=course.id) }}">{{ course.course_number }}</a>
{% endblock %}

{% block content %}
    <h1>
        {{ course.course_number }} {{ course.title }} ({{ course.semester }})
        {% if instructor %}
        {{ course_admin_links(course, new=True) }}
        {% endif %}
    </h1>
    {% for assignment in course.assignments(instructor) %}
    <h3>
        {{ assignment.name }}
        {% if instructor %}
        {{ assignment_admin_links(assignment, new=True) }}
        {% endif %}
    </h3>
    <table class="assignment-summary-table">
        {% for question in assignment.questions(instructor)|sort(attribute='name') %}
        <tr>
            <td>
                {% if instructor and not question.visible %}
                (hidden)
                {% endif %}
                <a href="{{ url_for('demograder.submission_view', question_id=question.id) }}">{{ question.name }}</a>
                {% if question.due_date %}
                (due {{ question.iso_format }})
                {% endif %}
                {% if instructor %}
                {{ submission_admin_links(question) }}
                {% endif %}
            </td>
            <td class="summary-cell">
                {% set submission = question.submissions(user_id=viewer.id, include_hidden=instructor, limit=1).first() %}
                {% set num_results = question.upstream_submission_id_sets | length %}
                {% if num_results %}
                {% if submission %}
                {% set num_passed = submission.num_passed %}
                {% set num_failed = submission.num_failed %}
                {% set num_results = submission.num_results %}
                {% else %}
                {% set num_passed = 0 %}
                {% set num_failed = 0 %}
                {% endif %}
                <div class="summary-bar">
                    <div class="summary pass" style="width:100%;">&nbsp;</div>
                    <div class="summary tbd" style="width:{{ 100 * (num_results - num_passed) / num_results }}%;">&nbsp;</div>
                    <div class="summary fail" style="width:{{ 100 * num_failed / num_results }}%;">&nbsp;</div>
                    <div class="summary score">{{ num_passed }} / {{ num_results }}</div>
                </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
{% endblock %}
