{% extends "base.html" %}

{% block title %}Demograder{% endblock %}

{% block breadcrumb %}
    &gt; <a href="{{ url_for('demograder.course_view', course_id=course.id) }}">{{ course.course_number }}</a>
    &gt; {{ assignment.name }}
    &gt; <a href="{{ url_for('demograder.question_view', question_id=question.id) }}">{{ question.name }}</a>
{% endblock %}

{% block content %}
    <h1>
        {{ question.name }}
        {% if question.due_date %}
        (due {{ question.iso_format }})
        {% endif %}
        {% if role >= Role.INSTRUCTOR %}
        <span class="edit-link">(
            <a href="{{ url_for('demograder.question_form', assignment_id=assignment.id, question_id=question.id) }}">edit</a>
        )</span>
        {% endif %}
    </h1>

    <h2>Submit New Version</h2>
    {% if not viewer.may_submit(question.id) %}
    <p>You may not submit to this question at this time.</p>
    {% else %}
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('demograder.question_view', question_id=form.question_id.data) }}">
        <ul>
        {% for file_submission_form in form.submission_files %}
            <li>
                {{ file_submission_form.question_file_id }}
                {{ file_submission_form.filename }}
                <code>{{ file_submission_form.filename.data }}</code>: {{ file_submission_form.file }}
                {% if form.submission_files.errors %}
                <ul class="form-field-error-list">
                    {% for error in form.submission_files.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        {{ form.hidden_tag() }}
        <p>{{ form.submit }}</p>
    </form>
    {% endif %}

    {% if not submission %}
    You have not yet submitted to this question.
    {% else %}
    <h2>Submission History</h2>
    <table class="submissions-history-table">
        <tr>
            <th>Time</th>
            <th>Files</th>
            <th>Tests Passed</th>
            {% if not submission.question.locked %}
            <th>Disable</th>
            {% endif %}
        </tr>
        {% for submission in viewer.question_submissions(question.id) %}
        <tr {% if submission.disabled %}class="disabled-submission"{% endif %}>
            <td>
                <a href="{{ url_for('demograder.submission_view', submission_id=submission.id) }}">{{ submission.iso_format }}</a>
            </td>
            <td>
                {% for submission_file in submission.files %}
                <a href="{{ url_for('demograder.submission_file_view', submission_file_id=submission_file.id) }}"><code>{{ submission_file.question_file.filename }}</code></a>
                {{ ", " if not loop.last else "" }}
                {% endfor %}
            </td>
            <td>{{ submission.num_passed }} / {{ submission.num_results }}</td>
            {% if not submission.question.locked %}
            <td><a href="{{ url_for('demograder.disable_submission', submission_id=submission.id) }}">
                {% if submission.disabled %}
                enable
                {% else %}
                disable
                {% endif %}
            </a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}
