{% from 'utils.html' import submission_history_table %}
{% extends "base.html" %}

{% block title %}Demograder{% endblock %}

{% block breadcrumb %}
    &gt; <a href="{{ url_for('demograder.course_view', course_id=course.id) }}">{{ course.course_number }}</a>
    &gt; {{ assignment.name }}
    &gt; <a href="{{ url_for('demograder.submission_view', question_id=question.id) }}">{{ question.name }}</a>
    {% if submission %}
    &gt; <a href="{{ url_for('demograder.submission_view', submission_id=submission.id) }}">{{ submission.iso_format }} submission</a>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {{ question.name }}
        {% if submission %}
        {% if submission == viewer.latest_submission(question.id) %}
        latest submission
        {% else %}
        {{ submission.iso_format }} submission
        {% endif %}
        {% endif %}
        {% if role >= Role.INSTRUCTOR %}
        <span class="admin-link">
            <a href="{{ url_for('demograder.question_form', assignment_id=assignment.id, question_id=question.id) }}">edit</a>
            <a href="{{ url_for('demograder.question_submissions_view', question_id=question.id) }}">submissions</a>
            {% if submission %}
            <a href="{{ url_for('demograder.reevaluate_submission', submission_id=submission.id) }}">re-run submission</a>
            {% endif %}
        </span>
        {% endif %}
    </h1>
    {% if question.due_date %}
    (due {{ question.iso_format }})
    {% endif %}

    <h2>Submit New Version</h2>
    {% if not viewer.may_submit(question.id) %}
    <p>
    {% if question.locked %}
        You are not allowed to submit because this question is locked; talk to your instructor if you believe that is an error.
    {% elif viewer.question_submissions(question.id, limit=1).first().num_tbd > 0 %}
        Your previous submission is still running - please wait until that is done before submitting again.
    {% else %}
        There is a cooldown period before you are allowed to submit again - why don't you look at your code again to make sure there are no bugs?
    {% endif %}
    </p>
    {% else %}
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('demograder.submission_view', question_id=form.question_id.data) }}">
        <ul>
        {% for file_submission_form in form.submission_files %}
            <li>
                {{ file_submission_form.question_file_id }}
                {{ file_submission_form.filename }}
                <code>{{ file_submission_form.filename.data }}</code>: {{ file_submission_form.file }}
                {% if form.submission_files.errors %}
                <ul class="form-field-error-list">
                    {% for error in form.submission_files.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        {{ form.hidden_tag() }}
        <p>{{ form.submit }}</p>
    </form>
    {% endif %}

    {% if not submission %}
        <p>You have not yet submitted to this question.</p>
    {% else %}
    <h2>
        Results{% if submission.results %}:
        {{ submission.num_passed }} / {{ submission.num_results }}
        {% endif %}
    </h2>
    Submitted {{ submission.iso_format }}
    {% if submission.user_id != viewer.id %}
    by <a href="{{ url_for('demograder.user_view', page_user_email=submission.user.email) }}">{{ submission.user.full_name }}</a>
    {% endif %}
    <ul>
    {% for submission_file in submission.files %}
        <li>
            <a href="{{ url_for('demograder.submission_file_view', submission_file_id=submission_file.id) }}"><code>{{ submission_file.question_file.filename }}</code></a>
            {% if submission_file.filename != submission_file.question_file.filename %}
            (originally <code>{{ submission_file.filename }}</code>)
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% if not submission.results %}
    <p>
        {% if submission.question.upstream_dependencies %}
        The results are still coming in; refresh the page in a few seconds to see them.
        {% else %}
        There are no results associated with this submission.
        {% endif %}
    </p>
    {% else %}
    <div class="scoreboard">
        {% for result in submission.results %}
        {% if result.is_tbd %}
        <a class="score tbd" href="{{ url_for('demograder.result_view', result_id=result.id) }}">TBD</a>
        {% elif result.passed %}
        <a class="score pass" href="{{ url_for('demograder.result_view', result_id=result.id) }}">Pass</a>
        {% else %}
        <a class="score fail" href="{{ url_for('demograder.result_view', result_id=result.id) }}">Fail</a>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <h2>Submission History</h2>
    {{ submission_history_table(submission.user.question_submissions(question.id), course=False, question=False, submitter=False, disable=(question.allow_disable and (role >= Role.INSTRUCTOR or not question.locked))) }}
    {% endif %}
{% endblock %}
