{% extends "base.html" %}

{% block title %}Demograder{% endblock %}

{% block breadcrumb %}
    &gt; <a href="{{ url_for('demograder.course_view', course_id=course.id) }}">{{ course.course_number }}</a>
    &gt; {{ assignment.name }}
    {% if instructor or question.visible %}
    &gt; <a href="{{ url_for('demograder.submission_view', question_id=question.id) }}">{{ question.name }}</a>
    {% else %}
    &gt; {{ question.name }}
    {% endif %}
    {% if instructor or submission.submitter == viewer %}
    &gt; <a href="{{ url_for('demograder.submission_view', submission_id=submission.id) }}">{{ submission.iso_format }} submission</a>
    {% else %}
    &gt; {{ submission.iso_format }} submission
    {% endif %}
    &gt; <code>{{ submission_file.question_file.filename }}</code>
{% endblock %}

{% block content %}
    <style>
        .hljs-ln-numbers {margin-right:1em;}
        .hljs-ln td.hljs-ln-code {padding-left:1em;}
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
        hljs.initLineNumbersOnLoad();
    </script>
    <h1>
        <code>{{ submission_file.question_file.filename }}</code>
        {% if (instructor or submission_file.submitter == viewer) and submission_file.filename != submission_file.question_file.filename %}
        (originally <code>{{ submission_file.filename }}</code>)
        {% endif %}
    </h1>
    <p>
        Submitted {{ submission.iso_format }}
        {% if submission.user_id != viewer.id %}
        by <a href="{{ url_for('demograder.user_view', page_user_email=submission.user.email) }}">{{ submission.user.full_name }}</a>
        {% endif %}
    </p>

    <pre><code>{{ submission_file.contents }}</code></pre>
{% endblock %}
