{% extends "base.html" %}

{% block title %}Demograder{% endblock %}

{% block breadcrumb %}
    &gt; <a href="{{ url_for('demograder.course_view', course_id=course.id) }}">{{ course.course_number }}</a>
    &gt; {{ assignment.name }}
    &gt; <a href="{{ url_for('demograder.question_view', question_id=question.id) }}">{{ question.name }}</a>
    &gt; <a href="{{ url_for('demograder.submission_view', submission_id=submission.id) }}">{{ submission.iso_format }} submission</a>
{% endblock %}

{% block content %}
    <h1>
        {{ question.name }}
        {% if submission %}
        {% if submission == viewer.latest_submission(question.id) %}
        latest submission
        {% else %}
        {{ submission.iso_format }} submission
        {% endif %}
        {% endif %}
        {% if role >= Role.INSTRUCTOR %}
        <span class="edit-link">(
            <a href="{{ url_for('demograder.reevaluate_submission', submission_id=submission.id) }}">re-run submission</a>
        )</span>
        {% endif %}
    </h1>

    Submitted {{ submission.iso_format }}

    {% if submission.files %}
    <ul>
    {% for submission_file in submission.files %}
        <li>
            <a href="{{ url_for('demograder.submission_file_view', submission_file_id=submission_file.id) }}"><code>{{ submission_file.question_file.filename }}</code></a>
            {% if submission_file.filename != submission_file.question_file.filename %}
            (originally <code>{{ submission_file.filename }}</code>)
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% endif %}

    <h2>Results</h2>
    {% if not submission.results %}
    <p>There are no results associated with this submission.</p>
    {% else %}
    <div class="scoreboard">
        {% for result in submission.results %}
        {% if result.is_tbd %}
        <a class="score tbd" href="{{ url_for('demograder.result_view', result_id=result.id) }}">TBD</a>
        {% elif result.passed %}
        <a class="score pass" href="{{ url_for('demograder.result_view', result_id=result.id) }}">Pass</a>
        {% else %}
        <a class="score fail" href="{{ url_for('demograder.result_view', result_id=result.id) }}">Fail</a>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <h2>Submission History</h2>
    <table class="submissions-history-table">
        <tr>
            <th>Time</th>
            <th>Files</th>
            <th>Tests Passed</th>
            <th>Disable</th>
        </tr>
        {% for prev_submission in submission.user.question_submissions(question.id) %}
        <tr {% if prev_submission.disabled %}class="disabled-submission"{% endif %}>
            <td>
                <a href="{{ url_for('demograder.submission_view', submission_id=prev_submission.id) }}">{{ prev_submission.iso_format }}</a>
            </td>
            <td>
                {% for submission_file in prev_submission.files %}
                <a href="{{ url_for('demograder.submission_file_view', submission_file_id=submission_file.id) }}"><code>{{ submission_file.question_file.filename }}</code></a>
                {{ ", " if not loop.last else "" }}
                {% endfor %}
            </td>
            <td>{{ prev_submission.num_passed }} / {{ prev_submission.num_results }}</td>
            {% if not prev_submission.question.locked %}
            <td><a href="{{ url_for('demograder.disable_submission', submission_id=prev_submission.id) }}">
                {% if prev_submission.disabled %}
                enable
                {% else %}
                disable
                {% endif %}
            </a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}
