{% extends "base.html" %}
{% from "forms/_utils.html" import render_field %}

{% block title %}Demograder{% endblock %}

{% block breadcrumb %}&nbsp;{% endblock %}

{% block content %}
    <h1>New/Edit Course</h1>
    <form method="POST" action="{{ url_for('demograder.course_form', course_id=form.id.default) }}">
        <table class="form-table">
            {{ render_field(form.season) }}
            {{ render_field(form.year) }}
            {{ render_field(form.department_code) }}
            {{ render_field(form.number) }}
            {{ render_field(form.section) }}
            {{ render_field(form.title) }}
            {{ render_field(form.instructors) }}
            {% if form.enrolled_students.choices %}
                {{ render_field(form.enrolled_students) }}
            {% endif %}
            {{ render_field(form.new_students) }}
        </table>
        {{ form.id }}
        {{ form.csrf_token }}
        <p>{{ form.submit }}</p>
    </form>
{% endblock %}
