{% extends "base.html" %}
{% from "forms/_utils.html" import render_field %}

{% block title %}Demograder{% endblock %}

{% block breadcrumb %}&nbsp;{% endblock %}

{% block content %}
    <h1>New/Edit User</h1>
    <form method="POST" action="{{ url_for('demograder.user_form', user_id=form.id.default) }}">
        <table class="form-table">
            {{ render_field(form.preferred_name) }}
            {{ render_field(form.family_name) }}
            {{ render_field(form.email) }}
            {% if user.admin %}
            {{ render_field(form.admin) }}
            {{ render_field(form.faculty) }}
            {% endif %}
        </table>
        {{ form.id }}
        {{ form.csrf_token }}
        <p>{{ form.submit }}</p>
    </form>
{% endblock %}
