body {background-color:#EEEEEC; font-family:Open Sans,Helvetica,Arial,sans-serif; margin:0 auto; max-width:50em;}

#wordmark {float:left; color:#B3491F; font-size:1.5em;}
#wordmark a {text-decoration:none;}
#quicklinks {float:right;}
#breadcrumb {clear:both;}

#content {width:100%;}

h1, h2, h3, h4, h5, h6 {clear:both; margin:1em auto; padding:0;}
ul {margin:0.5em auto;}
a, a:visited {color:#B3491F;}
abbr {cursor:help;}
pre {background-color:#F5F5F5; border:1px solid #CCCCCC; border-radius:4px; padding:1em;}
table {border-collapse:collapse;}
textarea {width:300px; height:150px;}

span.admin-link {font-size:small;}
span.admin-link a {margin-left:0.5em;}
h1 span.admin-link {display:block;}
h1 span.admin-link a:first-child {margin-left:0;}

table.form-table {border:none;}
table.form-table tr.form-field-error {background-color:#E67C73;}
table.form-table th, table.form-table td {vertical-align:top;}
table.form-table th {text-align:right;}
table.form-table ul.form-field-error-list {margin:0; padding-left:1em;}
table.form-table ul {margin:0; padding-left:0; list-style-type:none;}
table.form-table input[readonly] {background-color:#CCCCCC;}

table.assignment-summary-table {width:100%}
table.assignment-summary-table td.summary-cell {width:20%;}
table.assignment-summary-table div.summary-bar {position:relative;}
table.assignment-summary-table div.summary-bar div.pass {background-color:#57BB8A; position:absolute; right:0;}
table.assignment-summary-table div.summary-bar div.tbd {background-color:#C0C0C0; position:absolute; right:0;}
table.assignment-summary-table div.summary-bar div.fail {background-color:#E67C73; position:absolute; right:0;}
table.assignment-summary-table div.summary-bar div.score {position:absolute; width:100%; text-align:center;}

div.scoreboard a.score {align-items:center; color:#FFFFFF; display:flex; float:left; height:5em; justify-content:center; margin:0.1em; overflow:hidden; text-align:center; width:5em;}
div.scoreboard a.score:hover {font-weight:bold;}
div.scoreboard a.score.pass {background-color:#57BB8A;}
div.scoreboard a.score.fail {background-color:#E67C73;}
div.scoreboard a.score.tbd {background-color:#808080;}

table.data-table {width:100%;}
table.data-table th, table.data-table td {border:1px solid #555753;}
table.data-table tr:first-child th, table.data-table tr:first-child td {border-top:none;}
table.data-table tr:last-child th, table.data-table tr:last-child td {border-bottom:none;}
table.data-table tr th:first-child, table.data-table tr td:first-child {border-left:none;}
table.data-table tr th:last-child, table.data-table tr td:last-child {border-right:none;}

tr.disabled-submission {text-decoration:line-through; text-decoration-thickness:2px;}

#footer {padding:1em; text-align:center;}
