/* Course CSS */

/* Assignment table */
.asg-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
}

.asg-table * {
    padding: 0.5rem;
}

/* Individual Assignment Page CSS */

#question-container {
    display: flex;
    flex-direction: column;
    height: 35%;
    max-height: 20rem;
    overflow: auto;
}

.question-stat {
    display: flex;
    margin-left: 1rem;
    margin-bottom: 0.25rem;
}

.question-stat > span {
    margin-right: 5%;
}
/* .question-stat > span:last-child {
    flex-grow: 1;
    background-color: gray;
} */
.question-bar {
    flex-grow: 1;
    display: flex;
    border-radius: 1rem;
    text-align: center;
}

.question-bar span:first-child {
    width: 75%;
    background-color: lightgreen;
}

.question-bar span:last-child {
    background-color: lightcoral;
    flex-grow: 1;
}

#test-cases {
    width: 100%;
    height: 35%;
    max-height: 20rem;
    margin-bottom: 2rem;
}

#submit-new-version {
    text-align: right;
}

#summary-bar {
    height: 10%;
    background-color: lightgray;
}

#test-case-container {
    display: flex;
    height: 80%;
    max-height: 30rem;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
}

#submission-history {
    position: relative;
    display: grid;
    overflow: auto;
    width: 100%;
    height: 10rem;
    max-height: 7.5%;
    text-align: center;
    margin-top: 1rem;
    grid-template-columns: 1fr 0.5fr 0.5fr;
}


#submission-history > table {
    margin: 0 auto;
    padding: 1rem;
}

.test-case {
    width: 20%;
    height: 25%;
    max-width: 3rem;
    min-height: 3rem;
    background-color: gray;
    margin: 0.2rem;
    margin-top: 1rem;
    color: white;
    text-align: center;
}
.test-case:hover {
    font-weight: bolder;
}

.pass {
    background-color: green;
}

.fail {
    background-color: red;
}

/* Phone media query */
@media screen and (max-width: 768px) {
    #test-case-container, #test-cases, #question-container, #submission-history {
        overflow: hidden;
        height: auto;
        max-height: none;
    }
    .question-stat > span:nth-child(3) {
        font-size: 0.75rem;
    }
}