body {background-color:#EEEEEC; font-family:Open Sans,Helvetica,Arial,sans-serif; margin:0 auto; max-width:50em;}

#wordmark {float:left; color:#DE6F3E; font-size:1.5em;}
#wordmark a {text-decoration:none;}
#user {float:right;}

a {
	color: var(--lorange);
}

#content {clear:both; width:100%;}

a, a:visited {color:#DE6F3E;}

table.form-table {border-collapse:collapse; border:none;}
tr.form-field-error {background-color:#E67C73;}
ul.form-field-error-list {margin:0; padding-left:1em;}

#footer {padding:1em; text-align:center;}
