{% extends "base.html" %}

{% block title %}Demograder{% endblock %}

{% block content %}
    <h1>DB Dump</h1>
    <h2>Users</h2>
    <ul>
        {% for user in users %}
            <li>
                {{ user.id }}: {{ user }} 
                (<a href="{{ url_for('demograder.user_form', user_id=user.id) }}">edit</a>)
            </li>
        {% endfor %}
    </ul>
    <h2>Courses</h2>
    <ul>
        {% for course in courses %}
        <li>
            {{ course.id }}: {{ course }}
            (<a href="{{ url_for('demograder.course_form', course_id=course.id) }}">edit</a>)
        </li>
        <ul>
            {% for student in course.students %}
                <li>{{ student }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
    <h2>Assignment</h2>
    <ul>
        {% for assignment in assignments %}
        <li>
            {{ assignment.id }}: {{ assignment }}
            (<a href="{{ url_for('demograder.assignment_form', course_id=assignment.course.id, assignment_id=assignment.id) }}">edit</a>)
        </li>
        {% endfor %}
    </ul>
    <h2>Questions</h2>
    <ul>
        {% for question in questions %}
        <li>
            {{ question.id }}: {{ question }}
            (<a href="{{ url_for('demograder.question_form', assignment_id=question.assignment.id, question_id=question.id) }}">edit</a>)
        </li>
        {% endfor %}
    </ul>
    <h2>Question Files</h2>
    <ul>
        {% for question_file in question_files %}
        <li>{{ question_file.id }}: {{ question_file.filename }}</li>
        {% endfor %}
    </ul>
    <h2>Submissions</h2>
    <ul>
        {% for submission in submissions %}
        <li>{{ submission.id }}: {{ submission.submitter }} for {{ submission.question }} ({{ submission.timestamp }})</li>
        {% endfor %}
    </ul>
{% endblock %}
