<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>demograder</title>
        <link rel="preload" as="style" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" onload="this.onload=null;this.rel='stylesheet'">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div id="header-container"><h1>demograder</h1></div>
        {% if user %}
        <div class="selector">
            {% block selector %}{% endblock %}
            <span id="course-selector-container">
                &nbsp;
            </span>
            {% if user.faculty %}
            | <span id="faculty-nav-bar">
                new course
            </span>
            {% endif %}
            {% if user.admin %}
            | <span id="admin-nav-bar">
                admin
            </span>
            {% endif %}
            <span id="view-selector-container">
                Logged in as {{ user.email }} (<a href="{{ url_for('auth.logout') }}">logout</a>)
            </span>
        </div>
        <div id="breadcrumb">
            {% block breadcrumb %}{% endblock %}
        </div>
        {% endif %}
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <div id="footer" class="col-md-12">
            &copy; Justin Li
        </div>
    </body>

</html>
