<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>demograder</title>
        <link rel="preload" as="style" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" onload="this.onload=null;this.rel='stylesheet'">
		<script src="https://cdn.tailwindcss.com"></script>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    </head>

    <body class="grid grid-cols-8 h-screen">
        <div class="flex flex-col col-span-6 col-start-2">
            <div id="header" class="grid grid-cols-1 lg:grid-cols-2 py-3">
                <div class="lorange text-3xl text-center lg:text-left">
                    <a href="/">demograder</a>
                </div>
                {% if user %}
                <div id="user" class="flex justify-center lg:justify-end items-end text-center">
                    {% if alternate_view %}
                        (<a href="{{ request.path }}">viewing as</a> {{ role.name.lower() }} {{ viewer.email }})
                    {% else %}
                        {{ user.email }}
                    {% endif %}
                        |&nbsp;<a href="{{ url_for('auth.logout') }}" class="lorange underline">Logout</a>
                </div>
                {% endif %}
            </div>

            {% if user %}
            <div id="navbar">
                <div id="breadcrumb">
                    {% block breadcrumb %}{% endblock %}
                </div>
                <div id="quicklinks">
                    {% if role >= Role.FACULTY %}
                    <span id="faculty-nav-bar">
                        <a href="{{ url_for('demograder.course_form') }}">new course</a>
                    </span>
                    {% if role >= Role.ADMIN %}
                    | <span id="admin-nav-bar">
                        admin
                    </span>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            {% endif %}

            <div id="content" class="grow shrink">
                {% block content %}{% endblock %}
            </div>

            <div id="footer">
                &copy; Justin Li
            </div>
        </div>
    </body>

</html>
