<div class="course-card grid grid-cols-2 col-span-1">
    <div class = "course-info flex flex-col justify-around">
        <h1 class="grey course-title text-xl font-bold">COMP 229</h1>
        <h2 class="grey semester-year text-md">Spring 2022</h2>
        <h3 class="light-grey section-title text-sm">Section 1</h3>
    </div>
    <div class="course-stats flex flex-col justify-center">
        <div class="">
            <i class="fa-solid fa-user-group mx-1"></i>
            29 Students
        </div>
        <div class="">
            <i class="fa-solid fa-book mx-1"></i>
            1 Tests
        </div>
    </div>
</div>

