{% extends "base.html" %}

{% block title %}Demograder{% endblock %}

{% block content %}
    <!-- Assignment Panel: Current Assignments Due By Student -->
    <!-- The "current" assignments are assignment due between now() and 2 weeks -->
    <h1 class="font-bold text-3xl mb-6">Current Assignments</h1>

    <div class="grid grid-cols-4 gap-x-4 gap-y-2 text-xl" style="word-wrap: break-word;">
        <div class="font-semibold text-2xl">Course</div>
        <div class="font-semibold text-2xl">Assignment Name</div>
        <div class="font-semibold text-2xl">Due Date</div>
        <div class="font-semibold text-2xl">Current Score</div>

        {% for assignment in assignments %}
            <a class="orange text-xl" href="/course/{{assignment.course.id}}">{{assignment.course.department_code}} {{ assignment.course.number }} {{ assignment.course.season }} {{ assignment.course.year }}</a>
            <a class="lorange text-xl" href="/assignment/{{assignment.id}}">{{ assignment.name }}</a>
            <div>
                {% set delta = (assignment.due_date - current_time) %}
                {{ assignment.due_date.strftime("%A, %B %-d at %I:%M %p") }}
                {% if delta.days != None %}
                    ({{ delta.days }}d, {{ delta.seconds // 60 // 60 }}h)
                {% elif delta.hours != None %}
                    ({{ delta.seconds // 60 // 60 }}h, {{ delta.seconds // 60 }})
                {% else %}
                    ({{ delta.seconds // 60 }}m, {{ delta.seconds }})
                {% endif %}
            </div>
            <div>{{ 0 }}</div>
        {% endfor %}
    </div>

    <h1 class="font-bold text-3xl my-6">Courses</h1>

    <div class="text-xl flex flex-col">
        {% if courses == None %}
        <div class="text-center text-xl">No Courses</div>
        {% else %}
        {% for course in courses %}
        <a class="lorange text-xl" href="{{ url_for('demograder.course_view', course_id=course.id) }}">{{ course.department_code }} {{ course.number }} {{ course.title }}: {{ course.season }} {{ course.year }}</a>
        {% endfor %}
        {% endif %}
    </div>

{% endblock %}
