{% extends "base.html" %}

{% block title %}Demograder{% endblock %}

{% block content %}
    {% if user %}
        <h1>DB Dump</h1>
        <h2>Users</h2>
        <ul>
            {% for item in users %}
            <li>{{ item.id }}: {{ item }}</li>
            {% endfor %}
        </ul>
        <h2>Courses</h2>
        <ul>
            {% for item in courses %}
            <li>{{ item.id }}: {{ item }}</li>
            {% endfor %}
        </ul>
        <h2>Assignment</h2>
        <ul>
            {% for item in assignments %}
            <li>{{ item.id }}: {{ item }}</li>
            {% endfor %}
        </ul>
        <h2>Questions</h2>
        <ul>
            {% for item in questions %}
            <li>{{ item.id }}: {{ item }}</li>
            {% endfor %}
        </ul>
        <h2>Question Files</h2>
        <ul>
            {% for item in question_files %}
            <li>{{ item.id }}: {{ item }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
