{% extends "base.html" %}

{% block title %}Demograder{% endblock %}

{% block content %}
    <!-- Assignment Panel: Current Assignments Due By Student -->
    <!-- The "current" assignments are assignment due between now() and 2 weeks -->
    <h1 class="font-bold text-3xl mb-6">Current Assignments</h1>

    <div class="grid grid-cols-4 gap-x-4 gap-y-2 text-xl" style="word-wrap: break-word;">
        <div class="font-semibold text-2xl">Course</div>
        <div class="font-semibold text-2xl">Assignment Name</div>
        <div class="font-semibold text-2xl">Due Date</div>
        <div class="font-semibold text-2xl text-center">Current Score</div>

        {% for assignment in assignments %}
            {% if assignment.due_date > current_time %}
                <a class="orange text-xl" href="/course/{{assignment.course.id}}">{{assignment.course.department_code}} {{ assignment.course.number }} {{ assignment.course.season }} {{ assignment.course.year }}</a>
                <a class="lorange text-xl" href="/assignment/{{assignment.id}}">{{ assignment.name }}</a>
                <div>{{ assignment.due_date.strftime("%A, %B %-d at %I:%M %p") }}</div>
                <div class="text-center">{{ 0 }}</div>
            {% endif %}
        {% endfor %}
    </div>
	<h1 class="font-bold text-3xl my-6">Past Assignments</h1>
    <div class="grid grid-cols-4 space-y-2 text-xl">
        <div class="font-semibold text-2xl">Course</div>
        <div class="font-semibold text-2xl">Assignment Name</div>
        <div class="font-semibold text-2xl">Due Date</div>
        <div class="font-semibold text-2xl text-center">Current Score</div>

        {% for assignment in assignments %}
		    {% if assignment.due_date < current_time %}
                <a class="orange text-xl" href="/course/{{assignment.course.id}}">{{assignment.course.department_code}} {{ assignment.course.number }} {{ assignment.course.season }} {{ assignment.course.year }}</a>
                <a class="lorange text-xl" href="/assignment/{{assignment.id}}">{{ assignment.name }}</a>
                <div>{{ assignment.due_date.strftime("%A, %B %-d at %I:%M %p") }}</div>
                <div class="text-center">{{ 0 }}</div>
			{% endif %}
        {% endfor %}
    </div>
    <h1 class="font-bold text-3xl my-6">Courses</h1>
    <div class="flex flex-col text-xl">
        {% if courses == None %}
        <div class="text-center text-xl">No Courses</div>
        {% else %}
        {% for course in courses %}
        <a class="lorange text-xl" href="{{ url_for('demograder.course_view', course_id=course.id) }}">{{ course.department_code }} {{ course.number }} {{ course.title }}: {{ course.season }} {{ course.year }}</a>
        {% endfor %}
        {% endif %}
    </div>

{% endblock %}
