{% extends "base.html" %}

{% import "card.html" as card %}

{% block title %}Demograder{% endblock %}

{% block content %}
<div class="mt-8">
    <h1 class="text-3xl font-bold">Instance Overview</h1>
    <div class="grid grid-cols-3 gap-8 mt-6">
			
		{% for tile in tiles %}
		<div class="bg0 col-span-1 rounded-sm outline outline-bg2">
			<div class="grid grid-cols-2">
				<div class="flex flex-col p-6 space-y-2">
					<div class="text-4xl space-x-2"><i class="fa-solid {{ tile["icon_name"] }}"></i><span>{{ tile["count"] }}</span></div>
					<div class="text-2xl fold-bold">{{ tile["name"].upper() }}</div>
				</div>
				<div class="flex justify-center items-center">
					<a class="block bg-purple px-4 py-1 rounded-md outline outline-dark-purple font-extrabold text-white" href="#">
						{{ tile["new_user_prompt"] }}
					</a>
				</div>
			</div>
			<hr class="card-divider">
			<div class="py-4 mx-8 space-x-1">
				<a class="lorange font-semibold" href="#">View {{ tile["name"][0].lower() + tile["name"][1:] }}</a> <span>&gt;</span>
			</div>
		</div>
		{% endfor %}
		
    </div>
</div>
{% endblock %}
